body {
  background-color: bisque;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-country-input {
  border: 1px solid #5f5f5f;
  border-radius: 16px;
  width: 250px;
  padding: 15px;
  margin-bottom: 10px;
}

.form-country-input:focus {
  outline: none;
}

.country-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
  margin: -10px;
}

.country-list-item {
  display: flex;
  align-items: center;
  margin: 10px;
}

.country-list-item-name {
  margin-right: 10px;
}

.country-card {
  display: flex;
  align-items: center;
  margin-top: 20px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &-list {
    font-size: 30px;
  }
}

img {
  box-shadow: 2px 5px 23px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 5px 23px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 5px 23px 1px rgba(0,0,0,0.75);
}

.country-card-item {
  margin-bottom: 5px;
}

.language-list {
  display: flex;
  flex-direction: column;

  li {
    margin-left: 5px;
  };

  .country-name {
    font-weight: bold;
  }
}

.flag {
  margin-left: 30px;
}