<ul class="country-list">
    {{#each this}}
    <li class="country-list-item">
        <span class="country-list-item-name">{{name}}</span>
        <img src="{{flag}}" alt="" height="25" class="country-list-item-flag">
    </li>
    {{/each}}
</ul>